<a href="{{- .Destination | safeURL -}}"{{- with .Title }} title="{{ . }}"{{- end -}} {{- if strings.HasPrefix .Destination "http" -}}target="_blank" rel="noopener noreferrer"{{- end -}}>
    {{- .Text | safeHTML -}}
    {{- if strings.HasPrefix .Destination "http" -}}
        {{- if strings.HasPrefix .Destination "https://github" }}
            <i class="bi-github"></i>
        {{- else if strings.HasPrefix .Destination "https://www.wikipedia.org" -}}
            <i class="bi bi-wikipedia"></i>
        {{- else }}
            <i class="bi-link-45deg"></i>
        {{- end -}}
    {{- end -}}
</a>