// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap-533/scss/functions";

// 2. Include any default variable overrides here

$font-size-base:         1.125rem;
$font-family-sans-serif: Lucida Sans, Arial, Helvetica, sans-serif;
// $font-family-serif:      Lucida Bright, Georgia, serif;
$font-family-monospace:  "Courier New", monospace !default;

// Style p element.
$paragraph-margin-bottom: 1.125rem * 1.5;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap-533/scss/variables";
@import "../bootstrap-533/scss/variables-dark";

// 4. Include any default map overrides here

// scss-docs-start navbar-variables
// $navbar-padding-y:                  $spacer;
// $navbar-nav-link-padding-x:         1.25rem;

// scss-docs-start breadcrumb-variables
// $breadcrumb-font-size:              null !default;
// $breadcrumb-padding-y:              0 !default;
// $breadcrumb-padding-x:              0 !default;
// $breadcrumb-item-padding-x:         .75rem;
// $breadcrumb-margin-bottom:          2 * $paragraph-margin-bottom;
// $breadcrumb-bg:                     null !default;
// $breadcrumb-divider-color:          var(--#{$prefix}secondary-color) !default;
// $breadcrumb-active-color:           var(--#{$prefix}secondary-color) !default;
$breadcrumb-divider:                quote(">");
// $breadcrumb-divider-flipped:        $breadcrumb-divider !default;
// $breadcrumb-border-radius:          null !default;
// scss-docs-end breadcrumb-variables

$colors: map-remove($colors,
   "indigo",
   "purple",
   "pink",
   "teal"
);

$indigos: map-remove($indigos,
  "indigo-100", "indigo-200", "indigo-300", "indigo-400", "indigo-500", "indigo-600", "indigo-700", "indigo-800", "indigo-900"
);

$purples: map-remove($purples,
  "purple-100", "purple-200", "purple-300", "purple-400", "purple-500", "purple-600", "purple-700", "purple-800", "purple-900"
);

$pinks: map-remove($pinks,
  "pink-100", "pink-200", "pink-300", "pink-400", "pink-500", "pink-600", "pink-700", "pink-800", "pink-900"
);

$teals: map-remove($teals,
  "teal-100", "teal-200", "teal-300", "teal-400", "teal-500", "teal-600", "teal-700", "teal-800", "teal-900"
);

$grid-breakpoints: map-remove($grid-breakpoints,
  xxl
);

$container-max-widths: map-remove($container-max-widths,
  xxl
);

$border-widths:  map-remove($border-widths,
  2, 3, 4, 5
);

$aspect-ratios: map-remove($aspect-ratios,
  "4x3",
  "21x9"
);

$aspect-ratios: map-merge($aspect-ratios,
  ( "2.34": calc(50 / 117 * 100%))
);

$table-variants: map-remove($table-variants,
   "secondary",
   "success",
   "info",
   "warning",
   "danger"
);

// 5. Include remainder of required parts
@import "../bootstrap-533/scss/maps";
@import "../bootstrap-533/scss/mixins";
@import "../bootstrap-533/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap-533/scss/utilities";

$utilities: map-remove($utilities,
    /* "align", */
    /* "float", */
    /* "object-fit", */
    /* "opacity", */
    /* "overflow", */
    /* "overflow-x", */
    /* "overflow-y", */
    "display",
    /* "shadow", */
    /* "focus-ring", */
    /* "position", */
    /* "top", */
    /* "bottom", */
    /* "start", */
    /* "end", */
    /* "translate-middle", */
    /* "border", */
    /* "border-top", */
    /* "border-end", */
    /* "border-bottom", */
    /* "border-start", */
    /* "border-color", */
    /* "subtle-border-color", */
    /* "border-width", */
    /* "border-opacity", */
    /* "width", */
    /* "max-width", */
    /* "viewport-width", */
    /* "min-viewport-width", */
    /* "height", */
    /* "max-height", */
    /* "viewport-height", */
    /* "min-viewport-height", */
    /* "flex", */
    /* "flex-direction", */
    /* "flex-grow", */
    /* "flex-shrink", */
    /* "flex-wrap", */
    "justify-content",
    /* "align-items", */
    /* "align-content", */
    /* "align-self", */
    /* "order", */
    "margin",
    /* "margin-x", */
    /* "margin-y", */
    /* "margin-top", */
    /* "margin-end", */
    /* "margin-bottom", */
    /* "margin-start", */
    /* "negative-margin", */
    /* "negative-margin-x", */
    /* "negative-margin-y", */
    /* "negative-margin-top", */
    /* "negative-margin-end", */
    /* "negative-margin-bottom", */
    /* "negative-margin-start", */
    "padding"
    /* "padding-x", */
    /* "padding-y", */
    /* "padding-top", */
    /* "padding-end", */
    /* "padding-bottom", */
    /* "padding-start", */
    /* "gap", */
    /* "row-gap", */
    /* "column-gap", */
    /* "font-family", */
    /* "font-size", */
    /* "font-style", */
    /* "font-weight", */
    /* "line-height", */
    /* "text-align", */
    /* "text-decoration", */
    /* "text-transform", */
    /* "white-space", */
    /* "word-wrap", */
    /* "color", */
    /* "text-opacity", */
    /* "text-color", */
    /* "link-opacity", */
    /* "link-offset", */
    /* "link-underline", */
    /* "link-underline-opacity", */
    /* "background-color", */
    /* "bg-opacity", */
    /* "subtle-background-color", */
    /* "gradient", */
    /* "user-select", */
    /* "pointer-events", */
    /* "rounded", */
    /* "rounded-top", */
    /* "rounded-end", */
    /* "rounded-bottom", */
    /* "rounded-start", */
    /* "visibility", */
    /* "z-index" */
);


// @import "../bootstrap-533/scss/accordion";
// @import "../bootstrap-533/scss/alert";
// @import "../bootstrap-533/scss/badge";
@import "../bootstrap-533/scss/breadcrumb";
// @import "../bootstrap-533/scss/button-group";
// @import "../bootstrap-533/scss/buttons";
// @import "../bootstrap-533/scss/card";
// @import "../bootstrap-533/scss/carousel";
@import "../bootstrap-533/scss/close";
@import "../bootstrap-533/scss/containers";
// @import "../bootstrap-533/scss/dropdown";
// @import "../bootstrap-533/scss/forms";
  @import "../bootstrap-533/scss/forms/labels";
  @import "../bootstrap-533/scss/forms/form-text";
  @import "../bootstrap-533/scss/forms/form-control";
    // @import "../bootstrap-533/scss/forms/form-select";
    // @import "../bootstrap-533/scss/forms/form-check";
    // @import "../bootstrap-533/scss/forms/form-range";
    // @import "../bootstrap-533/scss/forms/floating-labels";
  @import "../bootstrap-533/scss/forms/input-group";
    // @import "../bootstrap-533/scss/forms/validation";
@import "../bootstrap-533/scss/grid";
// @import "../bootstrap-533/scss/helpers";
    // @import "../bootstrap-533/scss/helpers/clearfix";
    // @import "../bootstrap-533/scss/helpers/color-bg";
    // @import "../bootstrap-533/scss/helpers/colored-links";
    // @import "../bootstrap-533/scss/helpers/focus-ring";
    // @import "../bootstrap-533/scss/helpers/icon-link";
    // @import "../bootstrap-533/scss/helpers/ratio";
    // @import "../bootstrap-533/scss/helpers/position";
    // @import "../bootstrap-533/scss/helpers/stacks";
    @import "../bootstrap-533/scss/helpers/visually-hidden";
    // @import "helpers/stretched-link";
    // @import "helpers/text-truncation";
    // @import "helpers/vr";
@import "../bootstrap-533/scss/images";
// @import "../bootstrap-533/scss/list-group";
// @import "../bootstrap-533/scss/modal";
// @import "../bootstrap-533/scss/nav";
// For display the menu icons
@import "../bootstrap-533/scss/navbar";
@import "../bootstrap-533/scss/offcanvas";
@import "../bootstrap-533/scss/pagination";
// @import "../bootstrap-533/scss/placeholders";
// @import "../bootstrap-533/scss/popover";
// @import "../bootstrap-533/scss/progress";
@import "../bootstrap-533/scss/reboot";
// @import "../bootstrap-533/scss/spinners";
@import "../bootstrap-533/scss/tables";
// @import "../bootstrap-533/scss/toasts";
// @import "../bootstrap-533/scss/tooltip";
// For enabling the hide/show navbar
@import "../bootstrap-533/scss/transitions";
@import "../bootstrap-533/scss/type";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap-533/scss/utilities/api";

// 8. Add additional custom code here