{{- define "main" -}}
  {{- $current_page  := . -}}

  {{/* ---- Define and get parameters ---- */}}
  {{- $list_type    := "list" -}}
  {{- if and (eq .Kind "taxonomy") (eq .Type "series") -}}
    {{- $list_type = "list_series" -}}
  {{- else if and (eq .Kind "taxonomy") (eq .Type "tags") -}}
    {{- $list_type = "list_tags" -}}
  {{- else -}}
    {{- $list_type = printf "list_%s" .Kind -}}
  {{- end -}}
  {{- $def_params   := index site.Params $list_type | default (index site.Params "list") -}}

  {{/* ---- Get page parameters ---- */}}
  {{- $meta         := (index $def_params "meta")  -}}  {{/*| default (index $ "meta") */}}
  {{- $display_img  := $def_params.display_image   -}}
  {{- $display_sum  := $def_params.display_summary -}}
  {{- $post_format  := $def_params.post_format     -}}
  {{- $partial_path := path.Join "posts-format" (printf "%s%s%s" "posts-list-" $post_format ".html") -}}

  {{/* ---- Get background image ---- */}}
  {{- $bckgnd := "" -}}
  {{- if $display_img -}}
    {{- if isset .Params "images" -}}  
      {{- $image := .Resources.GetMatch (index .Params.images 0) -}}
      {{- with $image -}}
        {{- $bckgnd = printf "style=\"background: url('%s') center center / cover no-repeat; aspect-ratio: auto 234 / 100;\"" (index $.Params.images 0) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  <header class="list-headline-wrapper list-headline-wrapper-{{- .Section -}}" {{- $bckgnd | safeHTMLAttr -}}>
    <div class="list-headline-background list-headline-background-{{- .Section -}}"></div>
    <div class="container list-headline list-headline-{{- .Section -}}">
      {{- partial "breadcrumb.html" . -}}
      <div class="row">
        <div class="col">
          <h1 class="page-title">{{- .Title -}}</h1>
          <p class="page-summary">
            {{- with .Summary -}}
              {{- . -}}
            {{- else -}}
              {{- with .Description -}}
                {{- . -}}
              {{- end -}}
            {{- end -}}
          </p>
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </header>
  {{- $paginator := .Paginator -}}
  <section class="list-content-wrapper">
    <div class="container">
      {{- if or (eq $list_type "list") (eq $list_type "list-series") -}}
      {{- if eq $paginator.PageNumber 1 -}}
        {{- with $current_page.Content -}}
        <div class="row">
          <div class="col">
            {{- replace $current_page.Content $current_page.Summary "" | safeHTML -}}
          </div>
        </div>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- range $paginator.Pages -}}
      {{- partial $partial_path (dict "current" . "context" $current_page "meta" $meta) -}}
    {{- end -}}
    </div>
  </section>
  <footer class="list-footer">
    {{- if gt $paginator.TotalPages 1 -}}
        {{- partial "inline/pagination.html" . -}}
    {{- end -}}
  </footer>
{{- end -}}
{{- define "partials/inline/pagination.html" -}}
  {{- $step := site.Params.list.paginator_step -}} {{/* | default site.Data.defaults.list.paginator_step */}}
  <div class="container">
    <div class="row">
      <nav class="col" aria-label="Page navigation">
        {{- $paginator := .Paginator -}}
        <ul class="pagination justify-content-center">
        {{- if eq $paginator.PageNumber 1 -}}
          <li class="page-item active">
            <a aria-current="page" aria-label="Page 1" class="page-link" role="button">1</a>
          </li>
        {{- else -}}
          {{- if $paginator.HasPrev -}}
            <li class="page-item">
              <a href="{{- $paginator.Prev.URL -}}" aria-label="Previous page ({{- $paginator.Prev.PageNumber -}})" title="Next page ({{- $paginator.Prev.PageNumber -}})" class="page-link" role="button"><span aria-hidden="true"><i class="bi-chevron-double-left"></i></span></a>
            </li>
          {{- end -}}
          <li class="page-item">
            <a href="{{- $paginator.First.URL -}}" aria-label="Page 1" class="page-link" role="button"><span aria-hidden="true">1</span></a>
          </li>
          {{- if gt $paginator.PageNumber (math.Add $step 1) -}}
            <li class="page-item">
              <a aria-label="dot" class="page-link" role="button"><span aria-hidden="true">...</span></a>
            </li>
          {{- end -}}
        {{- end -}}
        {{- $start := math.Max (math.Sub $paginator.PageNumber $step) 2 -}}
        {{- $end   := math.Min (math.Add $paginator.PageNumber $step) (math.Sub $paginator.TotalPages 1) -}}
        {{- range $paginator.Pagers -}}
          {{- if and (ge .PageNumber $start) (le .PageNumber $end) -}}
          <li class="page-item {{ if eq .PageNumber $paginator.PageNumber -}}active{{- end -}}" {{ if eq .PageNumber $paginator.PageNumber -}}aria-current="page"{{- end -}}>
              <a class="page-link" {{ if ne .PageNumber $paginator.PageNumber -}}href="{{- .URL -}}"{{- end }} aria-label="Page {{ .PageNumber -}}" role="button">{{- .PageNumber -}}</a>
          </li>
          {{- end -}}
        {{- end -}}
        {{- if lt $end (math.Sub $paginator.TotalPages 1) -}}
          <li class="page-item">
            <a aria-label="dot" class="page-link" role="button"><span aria-hidden="true">...</span></a>
          </li>
        {{- end -}}
        {{- if eq $paginator.PageNumber $paginator.TotalPages -}}
          <li class="page-item active">
            <a aria-current="page" aria-label="Page {{ $paginator.TotalPages -}}" class="page-link" role="button">{{- $paginator.TotalPages -}}</a>
          </li>
        {{- else -}}
          <li class="page-item" >
            <a class="page-link" href="{{- $paginator.Last.URL -}}" aria-label="Page {{ $paginator.TotalPages -}}" role="button">{{- $paginator.TotalPages -}}</a>
          </li>
          {{- if $paginator.HasNext -}}
            <li class="page-item" >
              <a class="page-link" href="{{- $paginator.Next.URL -}}" aria-label="Next page ({{- $paginator.Next.PageNumber -}})" title="Next page ({{- $paginator.Next.PageNumber -}})" role="button"><span aria-hidden="true"><i class="bi-chevron-double-right"></i></span></a>
            </li>
          {{- end -}}
        {{- end -}}
        </ul>
      </div><!-- end of col -->
    </div><!-- end of row -->
  </div><!-- end of container -->
{{- end -}}