{{- $current := .current -}}
{{- $context := .context -}}
{{- $meta    := .meta    -}}
<article class="row">
    <div class="col-12 col-md-3">
    {{- with $meta.top -}}
      {{- partial "partials/meta.html" (dict "current" $current "context" $context "meta" . "class" "meta-top") -}}
    {{- end -}}
    </div>
    <div class="col-12 col-md-9">
      {{- with $meta.middle -}}
        {{- partial "partials/meta.html" (dict "current" $current "context" $context "meta" . "class" "meta-middle") -}}
      {{- end -}}
      <h2><a href="{{- $current.RelPermalink -}}" title="{{- $current.Title | safeHTMLAttr -}}">{{- $current.LinkTitle -}}</a></h2>
      {{/*- if eq $display_sum true -*/}}
        <p>{{- $current.Summary -}}</p>
      {{/*- end -*/}}
      {{- with $meta.bottom -}}
        {{- partial "partials/meta.html" (dict "current" $current "context" $context "meta" . "class" "meta-bottom") -}}
      {{- end -}}
      {{- if and (eq $context.Kind "taxonomy") (eq $context.Type "series") -}}
        {{- if $current.Pages }}
          <p>{{- i18n "series-posts" -}}</p>
          <ol class="serie-posts">
            {{- range $current.Pages.ByPublishDate }}
              <li>
                <a href="{{- .RelPermalink -}}" rel="bookmark">
                  {{- .Title }} ({{- .Date | time.Format (site.Params.FormatDate ) -}}) {{/*- | default site.Data.default_params.formatdate)  -*/}}
                </a>
              </li>
            {{- end }}
          </ol>
        {{- else -}}
          <p>{{- i18n "no-post-yet" -}}</p>
        {{- end -}}
      {{- end -}}
    </div>
  </article>