{{- $current := .current -}}
{{- $context := .context -}}
{{- $formatdate := site.Params.FormatDate -}} {{/* | default site.Data.defaults.params.formatdate */}}
<ul class="post-meta {{ with .class -}}{{- . | safeHTML -}}{{- end -}}">
    {{- range $order, $meta := .meta -}}
        {{- if eq $meta "date" -}}
            {{- if $current.Date -}}
        <li class="post-date">
            <i class="bi-calendar3" aria-hidden="true"></i>
            <span class="visually-hidden">{{- i18n "posted-on" -}}</span>
            <time class="entry-date published" datetime="{{- index (split $current.Lastmod " ") 0 -}}">
                {{- $current.Date | time.Format $formatdate -}}
            </time>
        </li>
            {{- end -}}
        {{- else if eq $meta "fulldate" -}}
        <li class="post-date">
            <i class="bi-calendar3" aria-hidden="true"></i>
            <span class="visually-hidden">{{- i18n "posted-on" -}}</span>
            <time class="entry-date published" datetime="{{- index (split $current.Date " ") 0 -}}">
                {{- $current.Date | time.Format $formatdate -}}
                {{- if ne $current.Date $current.Date }} (updated on {{ $current.Date | time.Format $formatdate -}}){{- end -}}
            </time>
        </li>
        {{- else if eq $meta "reading" -}}
            <li class="post-read">
                <i class="bi-clock" aria-hidden="true"></i>
                <span class="visually-hidden">{{- i18n "reading-label" -}}</span>
                {{- i18n "reading-time" $current.ReadingTime -}}
            </li>
        {{- else if eq $meta "tags" -}}
            {{- $sl := slice -}}
            {{- with $current.GetTerms "tags" -}}
                {{- range . -}}
                    {{- $sl = $sl | append (printf "<a href=\"%s\">%s</a>" .Permalink (humanize .LinkTitle)) -}}
                {{- end -}}
            {{- end -}}
            {{- if $sl -}}
            <li class="post-tags">
                <i class="bi-tags" aria-hidden="true"></i>
                <span class="visually-hidden">{{- i18n "tags" (len $sl) }} ({{- len $sl -}}):</span>
                {{- delimit $sl ", " | safeHTML -}}
            </li>
            {{- end -}}
        {{- else if eq $meta "series" -}}
            {{- if (ne $current.Type "series") -}}
                {{- $sl := slice -}}
                {{- with $current.GetTerms "series" -}}
                    {{- range . -}}
                        {{- $sl = $sl | append (printf "<a href=\"%s\">%s</a>" .Permalink (humanize .LinkTitle)) -}}
                    {{- end -}}
                {{- end -}}
                {{- if $sl -}}
                <li class="post-series">
                    <i class="bi-files" aria-hidden="true"></i>
                    <span class="visually-hidden">{{- i18n "series" (len $sl) }} {{ (len $sl) -}}:</span>
                    {{- delimit $sl ", " | safeHTML -}}
                </li>
                {{- end -}}
            {{- end -}}
        {{- else if eq $meta "section" -}}
            {{- with $current.Parent }}
                {{/*- if and (ne .Kind "section") (ne .Kind "taxonomy") -*/}}
                    <li class="post-section">
                        <i class="bi-folder2-open" aria-hidden="true"></i> <span class="visually-hidden">{{- i18n "in" -}}</span>
                        <span class="in-category"><a href="{{- .Permalink -}}" title="{{- i18n "post-category" . -}}">{{- .Name | safeHTML -}}</a></span>
                    </li><!-- class="visually-hidden" -->
                {{/*- end -*/}}
            {{- end }}
        {{- else if eq $meta "category" -}}
            {{- $list := slice -}}
            {{- range $current.GetTerms "categories" -}}
                {{- $list = $list | append (printf "<a href=\"%s\">%s</a>" .Permalink (humanize .LinkTitle)) -}}
            {{- end -}}
            {{- if gt (len $list) 0 -}}
                <li class="post-category">
                    <i class="bi-folder" aria-hidden="true"></i> <span class="visually-hidden" >{{- i18n "in" -}}</span>
                    <span class="in-category">{{- delimit $list ", " -}} </span>
                </li>
            {{- end -}}
        {{- else if eq $meta "linkedsection" -}}
            {{- if and (eq $context.Kind "taxonomy") (eq $context.Type "series") -}}
                {{- $section := $current.Params.linkedsection | default nil -}}
                {{- if $section }}
                    {{- with site.GetPage $section -}}
                    <li class="post-linked">
                        <i class="bi-folder-symlink" aria-hidden="true"></i> <span class="visually-hidden">{{- i18n "posts-of" -}}</span>
                        <span class="linked-to">{{- i18n "posts-of" -}}<a href="{{- .Permalink -}}" title="{{- i18n "posts-of-section" . -}}"> {{ .Title -}}</a></span>
                    </li><!-- class="visually-hidden" -->
                    {{- end -}}<!-- with -->
                {{- end -}}<!-- if section -->
            {{- end }}<!-- if series -->
        {{- end -}}<!-- if $meta -->
    {{- end -}}<!-- range -->
</ul>